In [13]:
import pandas as pd
import plotly.express as px
import numpy as np

# CSV Datei wird geladen
flowers_df = pd.read_csv('flower_data.csv')

# Gibt die Anzahl der Blumen zurück
def number_of_flowers():
    len(flowers_df)
    #print( "Anzahl der Blumen",
        #len(flowers_df))

# Dictionary welches die  Namen der Spalten mit den neuen Name (Deutsch) verknüpft.
dict = {'name': 'Name',
        'height (cm)': 'Höhe',
        'longevity (years)': 'Lebenserwartung',
        'place of origin': 'Herkunftskontinent',
        'color': 'Farbe',
        'climate': 'Klima',
        'cut flowers': 'Geschnittene Blume',
        'perfumes': 'Parfum',
        'medicine': 'Medizin',
        'average number of petals': 'Durchschnittliche Anzhal Blätter'}

# Umbenennung der Spalten mithilfe des Dictionaries (Änderungen werden direkt auf das DataFrame angewendet)
flowers_df.rename(columns=dict, inplace=True)

number_of_flowers()

display(df)

,Name,Höhe,Lebenserwartung,Herkunftskontinent,Farbe,Klima,Geschnittene Blume,Parfum,Medizin,Durchschnittliche Anzhal Blätter
0,Rose,60-150,1-2,"Europe, Asia","Red, pink, white",Temperate,1,1,1,5-9
1,Tulip,20-70,2-3,Central Asia,"Red, pink, white",Temperate,1,0,1,3-7
2,Daisy,15-60,1-2,"Europe, Asia","White, yellow",Temperate,1,0,1,10-20
3,Sunflower,50-300,1-2,North and South America,"Yellow, orange",Temperate to tropical,1,0,1,10-20
4,Orchid,20-100,5-10,Worldwide,"Purple, pink, white",Tropical,1,1,1,3-50
...,...,...,...,...,...,...,...,...,...,...
67,Hyacinth,10-20,1-2,"Europe, Asia","Purple, pink, white",Temperate,1,0,1,5-10
68,Iris reticulata,10-20,1-2,"Europe, Asia","Purple, pink, white",Temperate,1,0,1,5-10
69,Chionodoxa,10-20,1-2,"Europe, Asia","Purple, pink, white",Temperate,1,0,1,5-10
70,Anemone,10-20,1-2,"Europe, Asia","Purple, pink, white",Temperate,1,0,1,5-10
71,Scilla,10-20,1-2,"Europe, Asia","Purple, pink, white",Temperate,1,0,1,5-10

In [14]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.graph_objects as go

# Create the Dash app
app = dash.Dash(__name__)

# Define the pie chart data
labels = ['Label 1', 'Label 2', 'Label 3']
values = [30, 40, 30]

# Create the pie chart
fig = go.Figure(data=[go.Pie(labels=labels, values=values, textinfo='label+percent', textposition='inside')])

# Set the layout of the pie chart
fig.update_layout(title='Pie Chart', showlegend=False)

# Add the pie chart and text below it to the Dash app layout
app.layout = html.Div([
    dcc.Graph(figure=fig),
    html.Div('Labels go here', style={'textAlign': 'center', 'marginTop': '10px'})
])

# Run the Dash app
if __name__ == '__main__':
    app.run_server(debug=True)

ModuleNotFoundError: No module named 'dash_core_components'