In [2]:
import pandas as pd
import plotly.express as px
import numpy as np

df = pd.read_csv('flower_data.csv')

dict = {'name': 'Name',
        'height (cm)': 'Höhe',
        'longevity (years)': 'Lebenserwartung',
        'place of origin': 'Herkunftskontinent',
        'color': 'Farbe',
        'climate': 'Klima',
        'cut flowers': 'Geschnittene Blume',
        'perfumes': 'Parfum',
        'medicine': 'Medizin',
        'average number of petals': 'Durchschnittliche Anzhal Blätter'}

df.rename(columns=dict, inplace=True)

display(df)

,Name,Höhe,Lebenserwartung,Herkunftskontinent,Farbe,Klima,Geschnittene Blume,Parfum,Medizin,Durchschnittliche Anzhal Blätter
0,Rose,60-150,1-2,"Europe, Asia","Red, pink, white",Temperate,1,1,1,5-9
1,Tulip,20-70,2-3,Central Asia,"Red, pink, white",Temperate,1,0,1,3-7
2,Daisy,15-60,1-2,"Europe, Asia","White, yellow",Temperate,1,0,1,10-20
3,Sunflower,50-300,1-2,North and South America,"Yellow, orange",Temperate to tropical,1,0,1,10-20
4,Orchid,20-100,5-10,Worldwide,"Purple, pink, white",Tropical,1,1,1,3-50
...,...,...,...,...,...,...,...,...,...,...
67,Hyacinth,10-20,1-2,"Europe, Asia","Purple, pink, white",Temperate,1,0,1,5-10
68,Iris reticulata,10-20,1-2,"Europe, Asia","Purple, pink, white",Temperate,1,0,1,5-10
69,Chionodoxa,10-20,1-2,"Europe, Asia","Purple, pink, white",Temperate,1,0,1,5-10
70,Anemone,10-20,1-2,"Europe, Asia","Purple, pink, white",Temperate,1,0,1,5-10
71,Scilla,10-20,1-2,"Europe, Asia","Purple, pink, white",Temperate,1,0,1,5-10